<thead>
    <tr>
        <th>Player Name</th>
        <th>Score</th>
        <th>Player Email</th>
    </tr>
</thead>

<tbody></tbody>

<tfoot>
	<tr>
    	<td>
    		<a href="#/new">
    			<button class="btn btn-primary btn-lg btn-block">New Game</button>
    		</a>
    	</td>
    </tr>
</tfoot>