<thead>
    <tr>
        <th>Player Name</th>
        <th>Score</th>
        <th>Player Email</th>
    </tr>
</thead>

<tbody></tbody>

<tfoot>
        <tr>
        <td><a href="#/new">New Game</a></td>
        </tr>
</tfoot>

