<div id="games"></div>

<script type="text/javascript">
    $(function() {
    	window.router = new ColorMemory.Routers.GamesRouter({games: <%= @games.to_json.html_safe %>});
        Backbone.history.start();
    });
</script>