<h1>New game</h1>

<%= render 'form' %>

<%= link_to 'Back', games_path %>

<div id='color-memory'>
	<div id='gameboard'></div>
</div>

<script type="text/javascript">
	ColorMemory.start();
</script>
