// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.border {
	outline: 2px solid rgb(75,75,75);
	outline-offset: -1px;
}

#cards {
	width: 330px;

	img {
		margin: 1px;
	}
}

.container {
	width: 720px;
}

#score {
	margin-top: 100px;
	margin-bottom: 100px;
}

#new_game {
	margin-top: 50px;
}


